<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- annotation설정을 위해 추가-->
    <context:annotation-config />

<!--    <bean class="org.springframework.beans.factory.annotation.CustomAutowireConfigurer">-->
<!--        <property name="customQualifierTypes">-->
<!--            <set>-->
<!--                <value>com.nhnacademy.edu.springframework.greeter.GreeterQualifier</value>-->
<!--            </set>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="englishGreeter" class="com.nhnacademy.edu.springframework.greeter.EnglishGreeter" scope="singleton" init-method="init">-->
<!--        <qualifier type="com.nhnacademy.edu.springframework.greeter.GreeterQualifier">-->
<!--            <attribute key="language" value="ENGLISH"/>-->
<!--            <attribute key="dummy" value="false"/>-->
<!--        </qualifier>-->
<!--    </bean>-->

<!--    <bean id="koreanGreeter" class="com.nhnacademy.edu.springframework.greeter.KoreanGreeter" scope="prototype" primary="true" >-->
<!--        <qualifier type="com.nhnacademy.edu.springframework.greeter.GreeterQualifier">-->
<!--            <attribute key="language" value="KOREAN"/>-->
<!--            <attribute key="dummy" value="false"/>-->
<!--        </qualifier>-->
<!--    </bean>-->

<!--    <bean id="greetingService" class="com.nhnacademy.edu.springframework.greeter.GreetingService" >-->
<!--    </bean>-->

<!--  Greeter   -->



<!--    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.sender.EmailMessageSender" init-method="init" destroy-method="cleanup">-->
<!--    </bean>-->
<!--    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.sender.SmsMessageSender" init-method="init" destroy-method="cleanup">-->
<!--        <qualifier type = "com.nhnacademy.edu.springframework.sender.SMS"/>-->
<!--    </bean>-->

</beans>