@font-face{
    font-family : 'Nanum';
    src: url('./resources/fonts/NanumPenScript-Regular.woff') format('woff');
}
.custom-header{
    background-color : #e9d7f8;
    color : black;
}

.logout-button,
.signup-button{
    background-color: #d9baf2;
    border-color:black
}

.login-button,
.signup-form-signup-button{
    background-color : #e9d7f8;
}

.error_message {
    color: red;
    text-decoration: none;
    display: block; /* 또는 inline-block */
    margin: 0 auto;
    text-align: center; /* 부모 요소에 적용 */
}
.mypage-list{
    display: flex;
    margin-top: 2px;
    font-size: 16px;
    line-height: 40px;
}
.mypage-left-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}