<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Residence List</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

<h2>주민 목록</h2>

<table>
  <thead>
    <tr>
      <th>이름</th>
      <th>주민등록등본</th>
      <th>가족관계증명서</th>
      <th>출생신고서</th>
      <th>사망신고서</th>
      <th>발급목록</th>
      <th>삭제</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="resident : ${residentList}">
      <td th:text="${resident.name}"></td>
      <td>
        <a th:href="@{'/certification/familyRelationship/'+${resident.residentId}}">가족관계증명서</a>
      </td>
      <td>
        <a th:href="@{'/certification/idCard/'+${resident.residentId}}">주민등록등본</a>
      </td>
      <td>-</td>
      <td>-</td>
      <td>
        <a th:href="@{'/certification/issuance/' + ${resident.residentId}}">발급목록</a>
      </td>
      <td>
        <form th:action= "@{'/resident/'+${resident.residentId}+'/delete'}" method="post">
          <button type="submit">삭제</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<div th:with="totalPages = ${totalPages}" class="pagination">
  <a th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:href="@{/resident(page=${pageNumber}-1)}"
     th:text="${pageNumber} + ' '"></a>
</div>
</body>
</html>